<div>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{player.username}}</mat-card-title>
    <mat-card-subtitle>
      <span>{{player.fullname}}</span> ,
      <span>{{player.age}}</span> 
    </mat-card-subtitle>
    <img mat-card-avatar src='../../../favicon.ico' />
  </mat-card-title-group>
  <mat-card-content>
    {{player.bio}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="editPlayer(player)">Edit</button>
  </mat-card-actions>
</mat-card>
</div>