<div>
  <mat-grid-list cols=3 >
    <mat-grid-tile *ngFor="let player of players">
      <player-card [hidden]="player.editing" [player]="player" (refreshEvent)="fetchPlayers()"></player-card>
      <player-edit-card [hidden]="!player.editing" [player]="player" (refreshEvent)="fetchPlayers()"></player-edit-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!newPlayer.editing">
        <button mat-fab (click)="addPlayer()" (refreshEvent)="fetchPlayers()">+</button>
    </mat-grid-tile>
    <mat-grid-tile [hidden]="!newPlayer.editing">
      <player-edit-card [hidden]="!newPlayer.editing" [player]="newPlayer" (refreshEvent)="fetchPlayers()" ></player-edit-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>