<div>
  <mat-grid-list cols=3 >
    <mat-grid-tile *ngFor="let player of players" >
      <player-card *ngIf="!player.editing" [player]="player"></player-card>
      <player-edit-card *ngIf="player.editing" [player]="player"></player-edit-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <button *ngIf="!newPlayer.editing" mat-fab (click)="addPlayer()">+</button>
      <player-edit-card *ngIf="newPlayer.editing" [player]="newPlayer" ></player-edit-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>