<div>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{match.teams[0].name}} vs {{match.teams[1].name}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{match.day}}</span> 
      </mat-card-subtitle>
      <img mat-card-avatar src='../../../favicon.ico' />
    </mat-card-title-group>
    <mat-card-content>
      <table mat-table style="width:100%;" [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let element">{{element.teamName}}</td>
        </ng-container>

        <ng-container matColumnDef="set1">
          <th mat-header-cell *matHeaderCellDef>Set1</th>
          <td mat-cell *matCellDef="let element">{{element.scores[0]}}</td>
        </ng-container>

        <ng-container matColumnDef="set2">
          <th mat-header-cell *matHeaderCellDef>Set2</th>
          <td mat-cell *matCellDef="let element">{{element.scores[1]}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      
    </mat-card-content>
  
    <mat-card-actions>
      <!-- <button mat-raised-button color="primary" (click)="openDialog()">Edit</button>
      <button mat-raised-button color="warn" (click)="deleteTeam()">Delete</button> -->
    </mat-card-actions>
  </mat-card>
</div>